@{
    ViewData["Title"] = "Home Page";
}

<div id="banner" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1 class="small">Welcome To <span class="bold">Tempo</span></h1>
                <p class="big">Multipurpose HTML5 Bootstrap template.</p>
                <a href="#" class="btn btn-banner">Learn More<i class="fa fa-send"></i></a>
            </div>
        </div>
    </div>
</div>

<div id="service" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="page-title text-center">
                <h1>Our Service</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. </p>
                <hr class="pg-titl-bdr-btm"></hr>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-icon"><i class="fa fa-picture-o"></i></div>
                    <div class="service-text">
                        <h3>Design</h3>
                        <p> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-icon"><i class="fa fa fa-code"></i></div>
                    <div class="service-text">
                        <h3>Development</h3>
                        <p> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-icon"><i class="fa fa-diamond"></i></div>
                    <div class="service-text">
                        <h3>Marketing</h3>
                        <p> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SERVICE END-->
<!--TEAM START-->
<div id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="page-title text-center">
                <h1>Meet Our Team</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. </p>
                <hr class="pg-titl-bdr-btm"></hr>
            </div>
            <div class="autoplay">
                <div class="col-md-6">
                    <div class="team-info">
                        <div class="img-sec">
                            <img src="~/medi/img/z.jpg" class="img-responsive">
                        </div>
                        <div class="fig-caption">
                            <h3>Zahid Amin</h3>
                            <p class="marb-20">CEO: Nutritionist</p>
                            <p>Follow me:</p>
                            <ul class="team-social">
                                <li class="bgblue-dark"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="bgred"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="bgblue-light"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="bgblue-dark"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-info">
                        <div class="img-sec">
                            <img src="~/medi/img/h.jpg" class="img-responsive">
                        </div>
                        <div class="fig-caption">
                            <h3>Muhammad Abou Al Hassan</h3>
                            <p class="marb-20">Director: Marketing</p>
                            <p>Follow me:</p>
                            <ul class="team-social">
                                <li class="blue-dark"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="red"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="blue-light"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="blue-dark"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-info">
                        <div class="img-sec">
                            <img src="~/medi/img/agent3.jpg" class="img-responsive">
                        </div>
                        <div class="fig-caption">
                            <h3>Iain Dante</h3>
                            <p class="marb-20">Jr. UI Designer</p>
                            <p>Follow me:</p>
                            <ul class="team-social">
                                <li class="blue-dark"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="red"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="blue-light"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="blue-dark"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-info">
                        <div class="img-sec">
                            <img src="~/medi/img/agent4.jpg" class="img-responsive">
                        </div>
                        <div class="fig-caption">
                            <h3>Kate Haris</h3>
                            <p class="marb-20">Jr. UI Designer</p>
                            <p>Follow me:</p>
                            <ul class="team-social">
                                <li class="blue-dark"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="red"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="blue-light"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="blue-dark"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--TEAM END-->
