@{
    ViewData["Title"] = "Home Page";
}

<div id="banner" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h2 style="color:white">Welcome To Professional Vision</h2>
                <p class="big"></p>
                <a href="#" class="btn btn-banner">Learn More<i class="fa fa-send"></i></a>
            </div>
        </div>
    </div>
</div>

<div id="service" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="page-title text-center">
                <h1>Our Products</h1>
                <p>Market Products are Related To Physate, Enzymes and Toxin Bindor <br>Market Trends. </p>
                <hr class="pg-titl-bdr-btm"></hr>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    @*<div class="service-icon"><i class="fa fa-picture-o"></i></div>*@
                    <div class="service-text">

                        <img height="200" width="300" src="~/medi/img/phytase.jpg" />
                        <h3>Phytase</h3>
                        <p> We provide phytase products at lower price in whole of pakistan</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    @*<div class="service-icon"><i class="fa fa fa-code"></i></div>*@
                    <div class="service-text">
                        <img height="200" width="300" src="~/medi/img/enzyme.jpg" />
                        <h3>Enzyme</h3>
                        <p>  We provide enzyme products at lower price in whole of pakistan</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    @*<div class="service-icon"><i class="fa fa-diamond"></i></div>*@
                    <img height="200" width="300" src="~/medi/img/premix.jpg" />
                    <div class="service-text">
                        <h3>Pre Mixes</h3>
                        <p> We provide pre mixes products at lower price in whole of pakistan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SERVICE END-->
<!--TEAM START-->
<div id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="page-title text-center">
                <h1>Meet Our Team</h1>
                <p> </p>
                <hr class="pg-titl-bdr-btm"></hr>
            </div>
            <div class="autoplay">
                <div class="col-md-6">
                    <div class="team-info">
                        <div class="img-sec">
                            <img height="220" width="200" src="~/medi/img/z.jpg">
                        </div>
                        <div class="fig-caption">
                            <h3>Zahid Amin</h3>
                            <p class="marb-20">CEO: Nutritionist</p>
                            <p>Follow me:</p>
                            <ul class="team-social">
                                <li class="bgblue-dark"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="bgred"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="bgblue-light"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="bgblue-dark"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-info">
                        <div class="img-sec">
                            <img height="220" width="200" src="~/medi/img/h.jpg" >
                        </div>
                        <div class="fig-caption">
                            <h3> Hassan</h3>
                            <p class="marb-20">Director: Marketing</p>
                            <p>Follow me:</p>
                            <ul class="team-social">
                                <li class="blue-dark"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="red"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="blue-light"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="blue-dark"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-info">
                        <div class="img-sec">
                            <img src="~/medi/img/agent3.jpg" class="img-responsive">
                        </div>
                        <div class="fig-caption">
                            <h3>Iain Dante</h3>
                            <p class="marb-20">Jr. UI Designer</p>
                            <p>Follow me:</p>
                            <ul class="team-social">
                                <li class="blue-dark"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="red"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="blue-light"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="blue-dark"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-info">
                        <div class="img-sec">
                            <img src="~/medi/img/agent4.jpg" class="img-responsive">
                        </div>
                        <div class="fig-caption">
                            <h3>Kate Haris</h3>
                            <p class="marb-20">Jr. UI Designer</p>
                            <p>Follow me:</p>
                            <ul class="team-social">
                                <li class="blue-dark"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="red"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="blue-light"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="blue-dark"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--TEAM END-->
<!--CONTACT START-->
<div id="contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="page-title text-center">
                <h1>Quick Contact</h1>
                <p>If you want to contact for formulation </p>
                <hr class="pg-titl-bdr-btm"></hr>
            </div>
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>

            <div class="form-sec">
                <form action="" method="post" role="form" class="contactForm">
                    <div class="col-md-4 form-group">
                        <input type="text" name="name" class="form-control text-field-box" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="email" class="form-control text-field-box" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="text" class="form-control text-field-box" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                    <div class="col-md-12 form-group">
                        <textarea class="form-control text-field-box" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validation"></div>

                        <button class="button-medium" id="contact-submit" type="submit" name="contact">Submit Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--CONTACT END-->
